:root {
  --font-color: rgb(151, 5, 5);
  --header-color: rgb(160, 82, 45);
  --main-bg-color: rgb(253, 255, 239);
  --sub-bg-color: rgb(35, 40, 26);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --hover-color: rgb(255, 224, 128);
  --hover-font-color: rgb(122, 58, 27);
  --button-color: rgb(255, 230, 128);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

html,
body,
#app {
  margin: 0px;
  color: var(--font-color);
  background-color: transparent;
  scroll-behavior: smooth;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
