@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

:root {
  --font-color: #3B201A;
  --header-color: #A32924;
  --main-bg-color: #FAF6EF;
  --sub-bg-color: #ECE3D6;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --hover-color: #DCB06F;
  --hover-font-color: #1D5B37;
  --button-color: #ECE3D6;
}

a,
.green {
  text-decoration: none;
  color: var(--font-color);
  transition: 0.4s;
  padding: 3px;
}

html,
body,
#app {
  margin: 0px;
  color: var(--font-color);
  background-color: transparent;
  scroll-behavior: smooth;
}

html, body, button, input, select, textarea {
  font-family: 'Zen Old Mincho', serif;
  font-size: 16px;
  line-height: 1.6;
}

#app {
  width: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
